
<%
=begin%>
 <p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>AssignedTo:</b>
  <%= @task.assignee %>
</p>

<p>
  <b>Status:</b>
  <%= @task.status %>
</p>

<p>
  <b>Project:</b>
  <%= @task.project %>
</p>


<%= link_to 'Edit', edit_project_task_path(@task.project, @task) %> | 
<%
=end%>

<div class="jumbotron">
<span class="badge badge-<%= @task.badge_color %> mb-3"><%= @task.status %></span>
  <h1 class="display-4"><%= @task.name %></h1>
  <p class="lead"><%= @task.description %></p>
  <hr class="my-4">
  <p>AssignedTo: <%= @task.assignee %></p>
  <p class="lead">
  <%= link_to 'Edit', edit_project_task_path(@task.project, @task),class: "btn btn-primary btn-lg" %>
  </p>
</div>