<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="display:flex;justify-content:space-between">
<div>
    <ul class="navbar-nav mr-auto">
      <%= link_to 'BYJUSPM', root_path, class:"navbar-brand" %>
      <li class="nav-item">
      <%= link_to 'My Tasks', mytasks_index_path, class:"nav-link" %>
      </li>
    </ul>
    </div>
    <div>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.email %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Change Password', edit_user_registration_path  ,class:"dropdown-item" %>
          <%= button_to 'LOG OUT', destroy_user_session_path ,method: :delete, class:"dropdown-item" %>
        </div>
        </li>
        </ul>
        </div>
</nav>